<style>

#example {
    display:flex;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: center;
}

#example span
{
    max-width: 25%;
}

#example img
{
    max-height: 100px;
}

</style>

<div id="example">
    <span><a href="http://www.library.upenn.edu/"><img src="/public/img/logos/penn.png" /></a></span>
    <span><a href="http://www.swarthmore.edu/"><img src="/public/img/logos/swarthmore.png" /></a></span>
    <span><a href="https://www.haverford.edu/"><img src="/public/img/logos/haverford.jpg" /></a></span>
    <span><a href="https://www.brynmawr.edu/"><img src="/public/img/logos/brynmawr.png" /></a></span>
</div>

<div id="example">
    <span><a href="http://tdh.brynmawr.edu/"><img src="/public/img/logos/tricodh.jpg" /></a></span>
    <span><a href="https://www.nyu.edu/"><img src="/public/img/logos/nyu.jpg" /></a></span>
    <span><a href="http://www.librarycompany.org/"><img src="/public/img/logos/librarycompany.jpg" /></a></span>
    <span><a href="http://www.freelibrary.org/"><img src="/public/img/logos/freelibrary.jpg" /></a></span>
</div>
