---
layout: default
---

{% include teammenu.html %}

<br><br>

<h1 class="page-title">Core Team</h1>

<hr/>

<p>END team members come from a number of institutions and bring a host of different forms of expertise and experience to our project. Each summer, we assemble a team of student researchers for an intense 10-week sprint during which we work together to create metadata, conceive and carry out personal and collective projects, visit other libraries, host visiting speakers, and participate in the END Summer Seminar.</p>

<br><br>

<h2 class="page-title">Project Leads</h2>

<!-- Display Rachel and Jon's bios -->

{% for author in site.data.authors %}
  {% if author[0] == "rachelbuurma" %}
      {% include teammember.html %}
      <br>
  {% endif %}
{% endfor %}

{% for author in site.data.authors %}
  {% if author[0] == "jonshaw" %}
      {% include teammember.html %}
      <br>
  {% endif %}
{% endfor %}

<hr/>

<h2 class="page-title">CLIR Postdoctoral Fellow</h2>

<!-- Display Lindsay's bio -->

{% for author in site.data.authors %}
  {% if author[0] == "lindsayvantine" %}
      {% include teammember2.html %}
      <br>
  {% endif %}
{% endfor %}

<hr/>

<!-- Display bios for anyone tagged as core contributors -->

<h2 class="page-title">Core Contributors</h2>

{% for author in site.data.authors %}
  {% for item in author[1].year %}
    {% if item == "corecontrib" %}
      {% include teammember.html %}
      <br>
    {% endif %}
  {% endfor %}
{% endfor %}
